body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 40px;
    font-weight: 900;
}

.header{
    display: flex;
    margin: 50px 5% 50px 5%;

}

#header-image img{
    width: 500px;
}

#text-header p{
    margin-bottom: 50px;
}

.text-orange{
    color: #ff0000;

}
.text-ash{
    color: #383737;
}
.text-ash-bright{
    color: gray;
}
.half{
    width: 50%;
}
#text-header{
    padding-top: 140px;
}


.button{
    text-decoration: none;
    padding: 15px 30px 15px 30px;
    color: white;
    background-image: linear-gradient(#ff0000, #d32741);
    border-radius: 100px;
    box-shadow: 0px 0px 10px #ff0000;
}

.about-me{
    display: flex;
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    padding: 0px 5% 00px 5%;
}


#text-about-me{
    padding-top: 100px;
    color: gray;
   
}

#text-about-me p{
    margin-bottom: 70px;
    color: black;
}



.my-receipes{
    color: gray;
    text-align: center;
    padding: 0px 100px 0 100px;
    margin-top: 50px;
}
.my-receipes p{
    color: black;
}


.receipes{
    display: flex;
    margin: 20px 80px 80px 80px;
}

.single-receipe{
    width: 33.33%;
    background-color: white;
    border: 13px solid white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px gray;
    margin: 20px;
}
.receipe-image img{
    width: 100%;
    border-radius: 20px;
}

.receipe-title-des{
    padding: 10px;
}

.email{
    display: flex;
    color: white;
    background-image: linear-gradient( #ff0000, #d32741);
    padding: 20px 200px 20px 200px;
    margin: 70px 0;
}

#input-button{
    margin-left: 20px;
    margin-right: 20px;
}

#submit-button{
    color: white;
    background-color: black;
    padding: 0px 10px 0px 10px;
}

.footer{
    background-color: black;
}
.text-footer{
    color: white;
    text-align: center;
    padding: 10px 0px 70px 0;
}

